.footer {
  padding: 45px 0;
}
.footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
/* MOBILE */

@media (max-width: 480px) {
  .footer {
    padding: 25px 0;
  }
  .footer__items {
    flex-direction: column;
    gap: 30px;
  }
}