@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);
@import url(header.css);
@import url(get-started.css);
@import url(stay-safe.css);
@import url(experts.css);
@import url(healthcare.css);
@import url(footer.css);

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}
.wrapper {
  overflow: hidden;
}
[class*='__container']{
  max-width: 1087px;
  margin: auto;
  padding: 0px 15px;
}

/* BUTTON */

.button {
  display: inline-block;
  font-family: Raleway;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #EC5863;
  transition: background-color 0.3s;
  text-transform: uppercase; 
}
.button:hover {
  background-color: #ec727a; 
}
.button_blue {
  background-color: #4285F4;
}
.button_blue:hover {
  background-color: #5c94ee;
}

/* BLOCK */

.block-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000;
}
.block-text__title:not(:last-child) {
  margin-bottom: 12px;
}
.block-text__title span{
  color: #EC5863;
}
.block-text__title_blue span{
  color: #4285F4;
}
.block-text__text {
  line-height: 138.5%;
}
.block-text__text:not(:last-child) {
  margin-bottom: 24px;
}

/* PC */

@media (max-width: 1087px) {
  [class*='__container']{
    max-width: 970px;
  }
}

/* TABLET */

@media (max-width: 992px) {
  [class*='__container']{
    max-width: 750px;
  }
}

/* MOBILE */

@media (max-width: 767px) {
  [class*='__container']{
    max-width: none;
  }
  .block-text__title {
    font-size: 34px;
  }
}